<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AndroidWearSample</name>
    <description>
        A sample Cordova Android Wear application
    </description>
    <author email="trent@tgitconsulting.com.au" href="http://trentgardner.net">
        Trent Gardner
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-androidwear" spec="^1.0.0" />
    <engine name="android" spec="^7.0.0" />
</widget>
